{% extends 'app/base.html.twig' %}

{% block PageTitle %}Ajouter un modules{% endblock %}

{% block body %}
    {{ include('app/module/_form.html.twig') }}

    <a href="{{ path('app_module_index') }}">Retour à la liste</a>
{% endblock %}