{% extends 'app/base.html.twig' %}

{% block PageTitle %}Commander un module{% endblock %}

{% block body %}
<div class="row">
   <div class="col-md-6">
     <div class="card">
       <div class="card-body">
         <div class="card-content text-center">
           <img class="modulez" src="/assets/img/homepage/module1.png" alt="module1">
           <h2>Astra 106</h2>
           <h5>1.500 Units/Mois</h5>
           <a href="#" class="btn btn-primary">Commander</a>
         </div>
       </div>
     </div>
   </div>
   <div class="col-md-6">
     <div class="card">
       <div class="card-body">
         <div class="card-content text-center">
           <img class="modulez" src="/assets/img/homepage/module2.png" alt="module2">
           <h2>Astra 204</h2>
           <h5>150.000 Units</h5>
           <a href="#" class="btn btn-primary">Commander</a>
         </div>
       </div>
     </div>
   </div>
 </div>
{% endblock %}