{% extends 'app/base.html.twig' %}

{% block PageTitle %}Commander un module{% endblock %}

{% block body %}
<div class="row">
    {% for type in types %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-content text-center">
                        <img class="modulez" src="{{ upload_dir ~ '/' ~ type.image }}" alt="module1">
                        <h2>{{ type.name }}</h2>
                        <h5>1.500 Unités/mois ou 500 000 Unités</h5>
                        <a href="{{ path('app_my_modules_new_confirm', {id: type.id}) }}" class="btn btn-primary">Commander</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}