.homepage{
  background: rgb(243,244,244);
  
  .header{
    text-align: center;
    
    .title{
      font-size: 15px;
      letter-spacing: 2.5;
      padding: 15 0;
      font-family: 'Aileron Regular';
    }
    
    .baseline{
      font-weight: bold;
      font-size: 20px;
      color: rgb(49,62,62);
      text-transform: uppercase;
      margin-top: 50px;
    }
    
    .baseline-list{
      list-style: none;
      padding: 0;
      padding-bottom: 30px;
      
      li{
        font-size: 14px;
        line-height: 1.6;
        color: rgb(59,72,72);
        text-transform: uppercase;
        font-family: 'Aileron Regular';
      }
    }
  }
  
  .whoarewe{
    margin-bottom: 100px;
    
    .title{
      display: inline-block;
      background: $color-darkblue;
      color: #fff;
      font-size: 20px;
      text-transform: uppercase;
      font-family: 'Aileron Regular';
      padding: 10px 50px;
      margin: 0;
      margin-bottom: -24px;
      position: relative;
      z-index: 2;
    }
    
    .description{
      display: flex;
      justify-content: flex-end;
      
      .right{
        display: inline-block;
        background: $color-blue;
        color: #fff;
        padding: 60px 20px;
        max-width: 310px;
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
  
  .slider{
    
    img{
      max-width: 80%;
      margin: auto;
    }
    
    .carousel-caption{
      position: relative;
      color: inherit;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 50px 20px;
    }
    
    .carousel-indicators{
      position: relative;
      
      li {
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 14px;
        height: 14px;
        margin: 0 10px;
        border-radius: 100%;
        text-indent: -999px;
        background-color: rgba(93,112,241,0.2);
      }

      .active {
        background-color: $color-blue;
      }
    }
  }
  
  .advantages{
    margin-top: 30px;
    
    .title{
      display: flex;
      justify-content: flex-end;
      margin: 0;
      
      .right{
        display: inline-block;
        background: $color-darkblue;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        font-family: 'Aileron Regular';
        padding: 10px 50px;
        margin: 0;
        margin-bottom: -24px;
        position: relative;
        z-index: 2;
      }
    }
    
    .description{
      display: inline-block;
      background: $color-blue;
      color: #fff;
      padding: 60px 20px;
      max-width: 310px;
      font-size: 16px;
      line-height: 1.5;
    }
    
    .gallery{
      padding: 40px 0;
      
      .caption{
        padding: 25px;
        padding-bottom: 0;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.5;
      }
    }
  }
  
  .features{
    .features-list{
      list-style: none;
      padding: 0;
      background: $color-blue;
      padding: 30px 0;
      margin: 0;
      
      li{
        display: flex;
        color: #fff;
        padding: 20px;
        align-items: center;
        
        i{
          font-size: 24px;
          margin-right: 25px;
          vertical-align: middle;
        }
      }
    }
  }
  
  .footer{
    background: #000;
    
    .copyright{
      padding-top: 40px;
      padding-bottom: 15px;
      color: #fff;
      display: block;
      font-size: 12px;
      text-align: center;
    }
  }
}