//@font-face {
//    font-family: "Name";
//    src: url("../fonts/Name.ext");
//}

@font-face {
  font-family: "Aileron Regular";
  src: url("../fonts/Ailerons-Regular.woff");
}

@font-face {
  font-family: "Agene Regular";
  src: url("../fonts/Agene-Regular.ttf");
}

@font-face {
  font-family: "Agene Bold";
  src: url("../fonts/Agene-Bold.ttf");
}

